<div id="register">
    <div>
        Already registered? <a href="#/login">login here</a>
    </div>

    <form id="register-form">
        <div class="form-field">
            <label for="firstName">First name:</label>
            <input id="firstName" name="firstName" type="text" placeholder="John" />
        </div>

        <div class="form-field">
            <label for="lastName">Last name:</label>
            <input id="lastName" name="lastName" type="text" placeholder="Lennon" />
        </div>

        <div class="form-field">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" placeholder="johnl@beatles.com" />
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="J-L-123$" />
        </div>

        <div class="form-field">
            <input id="submit" name="submit" type="button" value="GO" onclick="register()" />
        </div>
    </form>
</div>