<div id="home">
    <table id="signals-table">
        <tr>
            <th>Sampling time</th>
            <th>Upload time</th>
            <th>Sensor</th>
            <th>Packet</th>
            <th>Accelerometer</th>
            <th>Gyro</th>
            <th>Magnetometer</th>
            <th>Barometer</th>
            <th>Pressure</th>
        </tr>
        {{for signals}}
        <tr>
            <td>{{:timestamp}}</td>
            <td>{{:uploadtime}}</td>
            <td>{{:sensorname}}</td>
            <td>{{:packetId}}</td>
            <td>{{:accelerometer.x}}, {{:accelerometer.y}}, {{:accelerometer.z}}</td>
            {{if gyro}}
            <td>{{:gyro.x}}, {{:gyro.y}}, {{:gyro.z}}</td>
            {{else}}
            <td>NA</td>
            {{/if}}
            {{if magnetometer}}
            <td>{{:magnetometer.x}}, {{:magnetometer.y}},{{:magnetometer.z}}</td>
            {{else}}
            <td>NA</td>
            {{/if}}
            <td>{{:barometer}}</td>
            <td>{{:pressure}}</td>
        </tr>

        {{else}}
        <tr>
            <td>no data</td>
        </tr>
        {{/for}}
    </table>
</div>