article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}


body {
    background-color: #b8cdd5;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

footer {
    background: white;
    width: 821px;
    margin-top: 0;
    padding: 0 30px;
    padding-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid #B5B5B5;
    margin: 0;
}


.gray-link {
    color: #7A8890;
    cursor: pointer;
}

.blue-link, .blue-link a {
    color: #00A5E0;
}

    .blue-link:hover, .blue-link a:hover {
        text-decoration: underline;
    }

.border-top {
    border-top: 1px solid #B5B5B5;
}

.border-bottom {
    border-bottom: 1px solid #B5B5B5;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.align-center {
    text-align: center;
}

.display-none {
    display: none;
}


#content-container {
    min-height: 200px;
    background-color: white;
    padding: 30px;
}

#layout-main-container {
    background-color: #b8cdd5;
    position: relative;
    width: 921px;
    margin-left: auto;
    margin-right: auto;
}

#layout-shadow-box {
    box-shadow: 0 4px 14px -4px black;
    background-color: white;
}

#layout-top-bar {
    background-color: black;
    height: 16px;
}

#layout-header-container {
    background: #B8CDD5;
    padding-top: 20px;
    padding-bottom: 10px;
}

#layout-top-menu {
    background: black;
    height: 40px;
    padding-left: 38px;
}

#layout-user-box {
    background: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    margin-right: 47px;
    font-size: 13px;
    line-height: 23px;
    clear: both;
}

#user-box-link {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

#layout-menu-seperator {
    background: #7A8890;
    height: 10px;
}

.alert {
    background-image: url('Images/warning.png');
    background-repeat: no-repeat;
    background-color: #EEEEE0;
    vertical-align: middle;
    padding: 5px 33px;
    background-position-y: 2px;
    background-position-x: 5px;
    margin: 5px;
}

.alert-dismiss {
    cursor: pointer;
    float: right;
    margin-right: -20px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.form-field {
    margin-top: 20px;
}

    .form-field label {
        display: inline-block;
        width: 120px;
    }

    .form-field input {
        width: 200px;
        padding: 2px 5px;
    }

#menu-logout {
    display: none;
}
